<label for="toggle-main-menu" id="toggle-main-menu-button">
    <span>Menu</span>
</label>
<nav class="main">
    <ul>
        <li>
            <a href="/magazine/">Magazine</a>
        </li>
        <li>
            <a href="/riders_men.html">Riders</a>
            <ul>
                <li>
                    <a href="/riders_men.html">Men</a>
                </li>
                <li>
                    <a href="/riders_women.html">Women</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/gallery">Media</a>
            <ul>
                <li>
                    <a href="/gallery">Photos</a>
                </li>
                <li>
                    <a href="/videos">Videos</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/shop">Shop</a>
        </li>
        <li class="nav-search nav-right">
            <input placeholder="Search" type="text" name="search" id="search">
        </li>
        <li class="nav-right">
            <a href="#">Login</a>
        </li>
    </ul>
</nav>