html {
    background-color: white;
}

body {
	max-width: 75rem;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
    min-height: 100vh;
    background-color: #DDDDEE;
}

header.header-main {
    padding: 0;
    position: relative;

    .header-img, img {
        display: block;
        width: 100%;
    }

    .header-img {
        padding-top: 31.25%;
        @media (max-width: 600px)  {
            padding-top: 4em;
        }
		position: relative;
        overflow: hidden;
        img {
            height: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
        }
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (max-width: 600px)  {
        h1 {
            position: absolute;
            padding-left: 2em;
            transform: translate(0, -50%);
            top: 50%;
            left: 0;
        }
    }

    .title {
        color: white;
        text-shadow: 4px 4px black, 0 0 10px blue ;
        text-decoration: none;
        font-family: 'Modak', cursive;
        font-weight: 100;
        font-size: 1.5em;
        @media (max-width: 500px)  {
            font-size: 1.2em;
        }
        @media (max-width: 400px)  {
            font-size: 0.8em;
        }
        &:hover {
            color: black;
            text-shadow: 4px 4px white;
        }
    }
}

footer.footer-main {
    position: relative;

    .footer-img, img {
        display: block;
        width: 100%;
    }
    .footer-img {
        padding-top: 5%;
        @media (max-width: 600px)  {
            padding-top: 10%;
        }
		position: relative;
        overflow: hidden;

        img {
            height: auto;
            width: 100%;
            position: absolute;
            bottom: 0;
        }
    }
}

.site-content {
    padding: 1.5rem;
	flex-grow: 1;
}
