@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,latin-ext');

html {
	font-size: 12px;
	line-height: 1.4;
	font-weight: normal;
	font-family: 'Source Sans Pro', sans-serif;
}

@media (min-width: 600px)  { html { font-size: 12px; } }
@media (min-width: 900px)  { html { font-size: 14px; } }
@media (min-width: 1200px) { html { font-size: 16px; } }
@media (min-width: 1400px) { html { font-size: 18px; } }

body, input, textarea, select, option, button {
	font: inherit;
}

// p, ul, ol {
// 	padding-bottom: 1.5em;
// }

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4;
	font-weight: normal;
	margin-bottom: 0.5em;
	font-family: Georgia, serif;
	font-family: 'Merriweather', serif;
}

main {
	font-size: 1.1em;
}

article {
	font-size: 1.2rem;
}

h1 { font-size: 2.2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }
